@import "tailwindcss";
body {
  font-family: "Cairo", sans-serif;
}
h1, h2, h3 {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
}
@theme {
  --color-primary: #ffffff;
  --color-secondary: #1F1F1F;
  --color-accent: #D4AF37;
  --color-accent-soft: #F5E6A3;
  --color-background: #121212;
  --color-text: #E5E5E5;
}




